
/* sgrid-breakpoints: (
  xs: 0,            small-smartphones
  sm: 576px,        smartphones
  md: 768px,        tablets
  lg: 992px,        desktop laptop
  xl: 1200px,       desktop
  xxl: 1400px       desktop large
); */
